{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Schedule</title>
</head>


<body class="body-content">
    <div class="page-title">
        <h1>NOME DA ESCOLA</h1>
    </div>
    <form class="left-content" action="{% url 'create' %}" method="POST">
        <div class="title-left" for="show-content">Novo agendamento</div>
        {% csrf_token %}
        <div class="input-fields" id="fields">
            Professor(a):
            <input type="text" name="teacher" value="{{ schedule.teacher }}">
            Dia:
            <input type="text" name="class_date" value="{{ schedule.class_date }}">
            Horário:
            <input type="text" name="class_time" value="{{ schedule.class_time }}">
            Aluno(a):
            <input type="text" name="student" value="{{ schedule.student }}">
            Disciplina:
            <input type="text" name="subject" value="{{ schedule.subject }}">
            <div class="save-button">
                <button type="submit">Salvar</button>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    </form>

    <div class="right-content"> 
        <h2>Agendados:</h2>

        <div class="filter">
            Filtrar:
            <input type="text" name="teacher" placeholder="Professor(a), Dia, Aluno, Disciplina">
        </div>
    
        <table class="table-content">
            <tr class="table-label">
                <td>Professor(a)</td>
                <td>Dia</td>
                <td>Horário</td>
                <td>Aluno</td>
                <td>Disciplina</td>
                <td>Opções</td>
            </tr>
            {% for schedule in schedules %}
                <tr class="row-content">
                    <td>{{ schedule.teacher }}</td>
                    <td>{{ schedule.class_date }}</td>
                    <td>{{ schedule.class_time }}</td>
                    <td>{{ schedule.student }}</td>
                    <td>{{ schedule.subject }}</td>
                    <td>
                        <a href="{% url 'detail' schedule.id %}">
                            <img src="{% static 'icons/lapis.png' %}">
                        </a>
                        <a href="{% url 'delete' schedule.id %}">
                            <img src="{% static 'icons/excluir.png' %}">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div> 
    <script src={% static 'script.js' %}></script>
</body>
</html>