<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>


    <form action="{% url 'update' schedule.id %}" method="POST">
        {% csrf_token %}
        
        Professor(a):
        <input type="text" name="teacher" value="{{ schedule.teacher }}">
        Dia:
        <input type="text" name="class_date" value="{{ schedule.class_date }}">
        Horário:
        <input type="text" name="class_time" value="{{ schedule.class_time }}">
        Aluno(a):
        <input type="text" name="student" value="{{ schedule.student }}">
        Disciplina:
        <input type="text" name="subject" value="{{ schedule.subject }}">

        <button type="submit">Salvar alterações</button>
    </form>

</body>
</html>