{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Update</title>
</head>

<div class="page-title">
    <h1>NOME DA ESCOLA</h1>
</div>

<body class="body-content">
    <form class="edit-content" action="{% url 'update' schedule.id %}" method="POST">
        <div class="title-edit">Editar agendamento</div>
        {% csrf_token %}
            <div class="edit-fields">
                Professor(a):
                <input type="text" name="teacher" value="{{ schedule.teacher }}">
                Dia:
                <input type="text" name="class_date" value="{{ schedule.class_date }}">
                Horário:
                <input type="text" name="class_time" value="{{ schedule.class_time }}">
                Aluno(a):
                <input type="text" name="student" value="{{ schedule.student }}">
                Disciplina:
                <input type="text" name="subject" value="{{ schedule.subject }}">
            </div>
            <div class="edit-save-button">
                <button type="submit">Salvar</button>
                <a href="{% url 'read' %}">Cancelar</a>
            </div>
        </div>
    </form>
</body>
</html>