/* CSS for class schedule project */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.page-title {
    background-color: #AD3737;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 2%;
}

.body-content {
    background-color: #1E2019;
}

.left-content {
    display: block;
    float: left;
    width: 20%;
    margin-bottom: auto;
}

.title-left {
    font-size: x-large;
    font-weight: bold;
    background-color: #394032;
    color: #d48d4e;
    padding: 8% 2%;
    text-align: center;
}

.input-fields {
    background-color: #E7822B;
    display: grid;
    padding: 7%;
    max-width: 100%;
    font-size: larger;
    padding-bottom: 100%;

}

.input-fields input {
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: #fcb96d;
    border: none;
    border-radius: 37px;
    padding: 2% 5%;
    font-size: large;
}

.save-button {
    background-color: #E7822B;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 3%;
}

.save-button button {
    background-color: #394032;
    color: #fcb96d;
    border: none;
    border-radius: 50px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 2%;
}

.right-content {
    background-color: #1E2019;
    color: #E7822B;
    float: right;
    width: 80%;
    margin-bottom: auto;
}

h2 {
    padding: 2%;
    border-bottom: 1px solid #f0b879;
}

.filter {
    padding: 2%;
    font-size: large;
    gap: 2%;
    margin-left: 6%;
}

.filter input {
    background-color: #fcb96d;
    border: none;
    border-radius: 37px;
    padding: 0.3% 1%;
    font-size: medium;
    margin-left: 0.7%;
    width: 30%;
}

.table-content {
    background-color: #394032;
    display: inline-table;
    table-layout: fixed;
    width: 80%;
    border: none;
    border-radius: 30px;
    margin: 2% 5% 5% 6.5%;
    padding: 2%;
}

.table-label {
    background-color: #394032;
    color:  #e53935;
    font-size: larger;
    font-weight: bold;
    padding: 1%;
    text-align: center;
    margin-bottom: 1%;
}

.row-content {
    background-color: #394032;
    color: #fcb96d;
    font-size: larger;
    padding: 1%;
    text-align: center;
}

td {
    padding: 2%;
}

td a {
    text-decoration: none;
}

td img {
    width: 35px;
    height: 35px;
}

/* EDIT CONTENT */
.edit-content {
    display: block;
}

.title-edit {
    font-size: x-large;
    font-weight: bold;
    background-color: #394032;
    color: #d48d4e;
    padding: 2% 2%;
    text-align: center;
}

.edit-fields {
    background-color: #E7822B;
    display: grid;
    padding: 3% 23% 1% 23%;
    max-width: 100%;
    font-size: larger;
}

.edit-fields input {
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: #fcb96d;
    border: none;
    border-radius: 37px;
    padding: 1% 3%;
    font-size: large;
}

.edit-save-button {
    background-color: #E7822B;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.edit-save-button button, .edit-save-button a {
    background-color: #394032;
    color: #fcb96d;
    border: none;
    border-radius: 50px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
    height: 3%;
    margin-bottom: 6%;
    padding: 0.7%;
    cursor: pointer;
    text-decoration: none;
}


/* RESPONSIVITY */
@media (max-width: 1562px) {
    .body-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-title {
        width: 100%;
        padding: 3% 0;
    }

    .title-left {
        padding: 2% 2%;
        cursor: pointer;
    }

    .left-content {
        display: block;
        width: 100%;
    }

    .input-fields {
        display: none;
    }

    .input-fields input {
        max-width: 100%;
    }

    .right-content {
        width: 100%;
    }

    .filter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filter input {
        width: 50%;
        margin: 1%;
    }

    .table-content {
        width: 100%;
        margin: 2% 0.7% 5% 0.5%;
    }

    .save-button {
        padding-bottom: 3%;
    }

    .save-button button {
        width: 10%;
        padding: 0.7%;
    }

    .edit-content {
        width: 100%;
    }

    .edit-fields {
        padding: 5% 15%;
    }
    
    .edit-save-button {
        padding-bottom: 100%;
    }

    .edit-save-button button, .edit-save-button a {
        width: auto;
        font-size: auto;
    }

    h2 {
        padding-top: 7%;
    }
}