/* CSS for class schedule project */

* {
    margin: 0;
    padding: 0;
}

.page-title {
    background-color: #AD3737;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 2%;
}

.body-content {
    background-color: #1E2019;
}

.left-content {
    display: block;
    float: left;
    width: 20%;
    height: 100%;
}

.title-left {
    font-size: x-large;
    font-weight: bold;
    background-color: #394032;
    color: #d48d4e;
    padding: 8% 2%;
    text-align: center;
}

.input-fields {
    background-color: #E7822B;
    display: grid;
    padding: 7%;
    max-width: 100%;
    font-size: larger;
}

.input-fields input {
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: #fcb96d;
    border: none;
    border-radius: 37px;
    padding: 2% 5%;
    font-size: large;
}

.save-button {
    background-color: #E7822B;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 2%;
}

.save-button button {
    background-color: #394032;
    color: #fcb96d;
    border: none;
    border-radius: 50px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-bottom: 100%;
    padding: 2%;
}

.right-content {
    background-color: #1E2019;
    color: #E7822B;
    float: right;
    width: 80%;
    height: 100%;
}

h2 {
    padding: 2%;
    border-bottom: 1px solid #fcb96d;
}

.filter {
    padding: 2%;
    font-size: large;
    gap: 2%;
}

.filter input {
    background-color: #fcb96d;
    border: none;
    border-radius: 37px;
    padding: 0.5% 1.5%;
    font-size: large;
}

.table-content {
    background-color: #394032;
    display: inline-table;
    table-layout: fixed;
    width: 80%;
    border: none;
    border-radius: 30px;
    margin: 2% 5% 5% 6.5%;
    padding: 2%;
}

.table-label {
    background-color: #394032;
    color:  #e53935;
    font-size: larger;
    font-weight: bold;
    padding: 1%;
    text-align: center;
    margin-bottom: 1%;
}

.row-content {
    background-color: #394032;
    color: #fcb96d;
    font-size: larger;
    padding: 1%;
    text-align: center;
}

td {
    padding: 2%;
}

td a {
    text-decoration: none;
}

td img {
    width: 35px;
    height: 35px;
}